@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}

.about {
  background-color: #0a2850;
  color: #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.about__title {
  margin: 100px 0 0 80px;
  z-index: 2;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  width: 20%;
}

.about__content {
  margin: 119px 80px 173px 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  width: 43%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.about__paragraph {
  margin: 0;
}

.about__circle {
  position: absolute;
  top: -152px;
  left: -129px;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  background-color: #2f80ed;
  z-index: 1;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
